#pageContainer {
  width: 500px;
  height: 240px;
  background-color: #FEFEFE; }

.titles {
  width: 98%;
  padding-left: 10px;
  padding-top: 10px;
  height: 40px;
  border: 2px solid #00C6D6;
  background-color: #00C6D6;
  font-size: 26px;
  color: #CFDDD3; }

.titles:hover {
  background: #00EADC; }

.bodies {
  border: 2px solid #00C6D6;
  color: #80909F;
  text-align: justify; }

.expanded {
  width: 96%;
  height: 135px;
  padding: 10px;
  font-size: 18px;
  transition: height .75s ease-in-out; }

.contracted {
  width: 100%;
  height: 0px;
  padding: 0px;
  font-size: 0px;
  transition: height .75s ease-in-out; }
